@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=New+Amsterdam&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=New+Amsterdam&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=Moderustic:wght@300..800&family=New+Amsterdam&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}


:root {
    --cor01: rgb(255, 0, 0);
    --cor02: rgb(255, 255, 255);
    --cor03: rgb(0, 0, 0);
    --fonte01: 'New Amsterdam', Helvetica, sans-serif;
    --fonte02: 'Anton SC', 'cursive';
    --fonte03: 'Moderustic', 'cursive';
}


html, body {
    
    margin: center;
    background-color: rgba(255, 0, 0, 0.942);
   
   
}

header {
    background-image: url(imagens/render/perfil\ render.png);
    max-width: 860px;
    background-repeat: no-repeat;
    background-position: right,center;
    background-color: rgba(255, 0, 0, 0.942);
    padding-bottom: 72px;
    
}


header h1 {
    font-family: var(--fonte02);
    font-size: 5em;
    color: var(--cor02);
    padding-top: 20px;
    padding-left: 35px;
    margin: center;
}


header h2 {
    font-family: var(--fonte02);
    font-size: 5em;
    color: var(--cor03);
    padding-left: 35px;
    margin: center;
    padding-bottom: 5px;
}


h3 {
    background-color: black;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.248);
    
    display: inline-block;
    font-family: var(--fonte01);
    width: 232px;
    height: 21px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 30px;
    margin: center;

}

h3:hover {
    background-color: rgb(255, 0, 0);
    color: var(--cor02);
}

h3 a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    }




.logoheader {
    padding-top: 15px;
    padding-left: 35px;
    padding-bottom: 35px;
    margin: auto;
    margin: center;
}


.indica {
    background-image: url(imagens/fundoparalax.png);
    background-size: cover;
    background-position: center,center;
    font-family: var(--fonte03);
    font-size: 1.6em;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: aliceblue;
   
    margin: center;

}

.indica p {
    font-family: var(--fonte02);
    color: rgb(255, 0, 0);
    font-size: 0.5em;
    margin: center;
}

main {
    background-color: rgb(248, 248, 248);
    margin: center;
}

article h1 {      
    text-align: center;
    font-family: var(--fonte02);
}

footer{
    text-align: center;
    color: white;
    font-family: var(--fonte01);
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer a {
    font-family: var(--fonte010);
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
   

}