@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


:root {
    --fonte1: verdana, Geneva , Tahoma, sans-serif;
    --fonte2: 'Passion One', 'cursive';
    --fonte3: 'Sriracha', 'cursive';
}


* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: aliceblue;
    text-align: center;
}

header h1 {
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;

}

header p {
    padding-bottom: 50px;
}

a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 4.5vw;
}

section > p{
    padding-bottom: 1em;
}

.normal {
    background-color: aliceblue;
    color: black;
}

.imagem {
    background-color: rgb(78, 78, 78);
    color: aliceblue;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.248);
    background-attachment: fixed;
}

.imagem > p {
    background-color: rgba(0, 0, 0, 0.42);
    display: inline-block;
    padding: 20px;
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
}

#img01 {
    background-image: url(./imagens/background001.jpg);
    background-position: right,center;
    background-size: cover;
}

#img02 {
    background-image: url(./imagens/background002.jpg);
    background-size: cover;

}
footer {
    background-color: black;
    text-align: center;
    color: aliceblue;
    padding: 10px;
}